name: Build and deploy to Azure Web App

on:
  push:
    branches: [ "master" ]  # change to main if your default branch is main
  workflow_dispatch:

env:
  AZURE_WEBAPP_NAME: your-app-service-name-here

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.0.x"

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install frontend deps
        run: npm ci

      - name: Build frontend
        run: npm run build

 
      - name: Build & publish .NET app
        run: dotnet publish MyPortfolio/MyPortfolio.csproj -c Release -o publish

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: publish
